
.footer {
    color: var(--general-bg);
    background: #AB8261;
    padding: 60px 0px 66px;
}

.footer-inner {
    display: grid;
    gap: 40px 30px;
    justify-content: space-between;
    grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer-col:first-child {
    margin-top: -30px;
}

.footer-logo {
    display: block;
    max-width: 240px;
}

.footer-logo img {
    width: 100%;
}

.footer-logo-text {
    margin-bottom: 20px;
}

.footer-col-list {
    margin-top: -5px;
}

.footer-col-item {
    margin-bottom: 10px;
}

.footer-col-item:last-child {
    margin-bottom: 0;
}

.footer-col-link {
    display: block;
    padding: 5px 0px;
    position: relative;
    z-index: 1;
}


.nav-link {
    display: block;
    padding: 5px 0px;
}

.footer-col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s;
}

.footer-col-link:hover:before {
    opacity: 1;
}


.footer-contacts-item {
    margin-bottom: 10px;
}

.footer-contacts-item:last-child {
    margin-bottom: 0;
}

.footer-col-tel {
    margin-bottom: 47px;
}

.footer-col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    transition: var(--transition);
}

.footer-col-number:hover {
    color: var(--accent-color);
}

.footer-col-copy {
    color: #DEC5B1;
}

.socials {
    line-height: 0;
}

.socials-list {
    display: flex;
    gap: 15px;
}


.socials-link path {
    transition: var(--transition);
}

.socials-link:hover path {
    fill: var(--accent-color);
}





